* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #1f1f1f;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.sidebar .logo img {
  width: 150px;
  margin-bottom: 20px;
}

.sidebar .menu {
  list-style-type: none;
}

.sidebar .menu li {
  margin: 15px 0;
}

.sidebar .menu li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar .menu li a:hover {
  background-color: #444;
}

/* Estilo para el botón de Cerrar Sesión */
.sidebar .menu li button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar .menu li button:hover {
  background-color: #c0392b;
}

/* Estilos para hacer el sidebar responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
    padding: 15px;
  }

  .sidebar .logo img {
    width: 120px;
  }

  .sidebar .menu li {
    font-size: 14px;
  }

  .sidebar .menu li button {
    padding: 10px;
  }
}
